@import url('https://fonts.googleapis.com/css2?family=Lato&family=Pixelify+Sans&family=Poppins:wght@100&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply box-border;
}

body {
  @apply font-serif;
  @apply flex flex-col items-center justify-start;
  @apply max-h-full max-w-full;
  @apply w-screen h-screen;
  @apply min-h-[640px] min-w-[480px];
  @apply transition ease-in duration-200;
  /* border: 4px solid green; */
}

img {
  display: block;
  width: 100%;
}

svg:hover {
  @apply scale-110;
  transition: transform 0.3s;
}

.name {
  @apply text-[36px] font-bold;
  @apply md:text-[48px];
}

.navlink {
  @apply text-[16px] font-bold underline;
  @apply md:text-[20px];
}

.heading {
  @apply text-[24px] font-semibold;
  @apply md:text-[36px];
}

.container {
  @apply max-w-full;
  @apply md:max-w-[75%];
  @apply lg:max-w-[50%];

  /* border: 1px solid red; */
}

.toggle-button {
  @apply w-10 h-5 flex flex-row items-center cursor-pointer relative rounded-xl bg-black;
}

.toggle-switch {
  @apply w-4 h-4 absolute left-[2px] rounded-full bg-gray-400;
  transition: transform 0.3s;
}

.toggle-icon {
  @apply flex flex-row items-center justify-between w-10 p-1;
}

.moon-icon, .sun-icon {
  @apply text-[10px];
  transition: opacity 0.3s;
}

.contact {
  @apply flex flex-row items-center space-x-2;
}

.contact_link {
  @apply w-8;
}

.cards {
  @apply grid;
  @apply sm:grid-cols-1 sm:gap-x-4 sm:gap-y-8;
  @apply md:grid-cols-2 md:gap-x-6 md:gap-y-10;
  @apply lg:grid-cols-2 lg:gap-x-8 lg:gap-y-12;
}

.cards__text {
  @apply flex flex-col px-6 py-6 space-y-2 text-center;

  #name {
    @apply font-bold text-xl;
  }

  #description {
    @apply text-base;
  }

  .cards__languages {
    @apply flex flex-row items-center justify-center space-x-2;
  }

  .cards__language-container {
    @apply inline-block rounded-full text-sm;
    @apply px-2 py-1 mr-2 mb-2;
    @apply bg-blue-400;
  }
}

.dark-mode {
  @apply text-gray-100;

  @apply bg-zinc-800;
  /* background: linear-gradient(
    to right,
    theme("colors.zinc.100") -100%,
    theme("colors.zinc.800") 20%,
    theme("colors.zinc.700") 200%
  ); */

  & nav {
    & a:hover {
      @apply text-gray-400;
    }
  }

  .moon-icon {
    opacity: 0;
  }

  .sun-icon {
    opacity: 1;
  }

  .links__github {
    @apply fill-white;
  }

  .missing-image-gradient {
    background: theme("colors.zinc.600");
    background: repeating-linear-gradient(
      var(--gradient-angle, 45deg),
      theme("colors.zinc.500") 0,
      theme("colors.zinc.500") 5%,
      theme("colors.zinc.600") 10%,
      theme("colors.zinc.600") 15%
    );
  }

  .cards__project {
    @apply border-8 border-solid border-zinc-600;
    @apply shadow-[0.65rem_0.65rem_0_theme("colors.zinc.700")];
    @apply hover:shadow-[0.5rem_0.5rem_0_theme("colors.zinc.700")];
    @apply bg-zinc-900;
  
    & a {
      @apply block w-full h-full;
    }
  
    & img {
      @apply object-cover outline outline-8 outline-zinc-600;
      aspect-ratio: 3 / 2;
      flex: 1 1 300px;
    }
  }
}

.light-mode {
  @apply text-zinc-800;

  @apply bg-gray-300;
  /* background: linear-gradient(
    to right,
    theme("colors.gray.800") -50%,
    theme("colors.gray.300") 20%,
    theme("colors.gray.400") 200%
  ); */

  & nav {
    & a:hover {
      @apply text-zinc-400;
    }
  }

  .toggle-switch {
    @apply translate-x-5;
  }

  .moon-icon {
    opacity: 1;
  }

  .sun-icon {
    opacity: 0;
  }

  .links__github {
    @apply fill-black;
  }

  .missing-image-gradient {
    background: theme("colors.gray.400");
    background: repeating-linear-gradient(
      var(--gradient-angle, 45deg),
      theme("colors.gray.400") 0,
      theme("colors.gray.400") 5%,
      theme("colors.gray.300") 10%,
      theme("colors.gray.300") 15%
    );
  }

  .cards__project {
    @apply flex flex-wrap w-full rounded-xl overflow-hidden;
    @apply border-8 border-solid border-gray-500;
    @apply shadow-[0.65rem_0.65rem_0_theme("colors.gray.400")];
    @apply hover:shadow-[0.5rem_0.5rem_0_theme("colors.gray.400")];
    @apply bg-gray-300;
  
    & a {
      @apply block w-full h-full;
    }
  
    & img {
      @apply object-cover outline outline-8 outline-gray-500;
      aspect-ratio: 3 / 2;
      flex: 1 1 300px;
    }
  }
}

.cards__project {
  @apply flex flex-wrap w-full h-fit rounded-xl overflow-hidden;
  @apply grayscale hover:grayscale-0;
  @apply transition ease-in duration-500;
}
